<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae delectus nobis sunt voluptate ipsam enim perferendis pariatur. Ipsa facere fuga voluptatem, rem, fugiat aliquid reprehenderit placeat minus culpa qui dolores.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae delectus nobis sunt voluptate ipsam enim perferendis pariatur. Ipsa facere fuga voluptatem, rem, fugiat aliquid reprehenderit placeat minus culpa qui dolores.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae delectus nobis sunt voluptate ipsam enim perferendis pariatur. Ipsa facere fuga voluptatem, rem, fugiat aliquid reprehenderit placeat minus culpa qui dolores.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
    </body>
</html>